@media screen and (max-width: 992px) {
  .small {
    display: block;
    transition: all 0.3s ease-in-out;
  }
  #main_header{
    display: none;
  }

  .small nav {
    padding: 15px 0;
  }
  
  .small nav .container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .small nav .menu {
    width: 40px;
    height: 40px;
    background: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .small nav .sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
    z-index: 1000;
  }
  .small.show .sidebar {
   right: 0;
  }
  
  .small nav .sidebar>ul {
    margin-top: 120px !important;
  }
  
  .small nav .sidebar>ul>li {
    padding: 10px;
   
  }
  
  .small nav .sidebar ul>li:last-child {
    border-bottom: none;
  }
  
  .small nav .sidebar ul>li>a {
    color: #000;
    padding: 4px;
    font-size: 17px;
    text-transform: capitalize;
  }
  
  .small nav .sidebar>ul>li.link-sm {
    position: relative;
  }
  
  .small nav .sidebar ul li.link-sm i {
    position: absolute;
    top: 3px;
    right: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 19px;
    color: #1e1e1e;
    font-weight: 700;
  }
  
  .small nav .sidebar ul.sub-menu-sm {
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    margin-top: 0px !IMPORTANT;
  }
  
  .small nav .sidebar ul.sub-menu-sm li {
    padding: 4px 16px;
  }
  
  .small .times {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: #0e0e0e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }
  
  .small .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
  }
  
  .small.show .overlay {
    opacity: 1;
    pointer-events: all;
  }
  
  ul.list-unstyled.p-0.m-0.sub-menu-sm li a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
  
  .small {
    display: block;
  }

  h1 {
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 400;
  } 
  h2 {
  font-size: 45px;
  font-weight: 400;
  } 

  p br{
  display: none;
  }
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 567px) {}

@media screen and (max-width: 320px) {}